<<<<<<< HEAD
/* Footer.css */
h2 {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
}
=======
/* Footer.css */
h2 {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
}
>>>>>>> 03729054c7c855c03b19834e2632700dd13dd22f
