<<<<<<< HEAD
/* Section2.css */
#sec2 {
    padding: 30px;
    background-color: #e3f2fd;
}

#sec2 p {
    color: #0d47a1;
    font-size: 16px;
}
=======
/* Section2.css */
#sec2 {
    padding: 30px;
    background-color: #e3f2fd;
}

#sec2 p {
    color: #0d47a1;
    font-size: 16px;
}
>>>>>>> 03729054c7c855c03b19834e2632700dd13dd22f
