<<<<<<< HEAD
/* Section1.css */
#sec1 {
    padding: 40px;
    text-align: center;
}

#sec1 h1 {
    color: #333;
    font-size: 28px;
}
=======
/* Section1.css */
#sec1 {
    padding: 40px;
    text-align: center;
}

#sec1 h1 {
    color: #333;
    font-size: 28px;
}
>>>>>>> 03729054c7c855c03b19834e2632700dd13dd22f
